/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
	--primary-font: 'Open Sans', sans-serif;
	--secondary-font: 'Bitter', serif;

	/* Colour palette */
	/* Each colour of the main theme has shade and opacity variations */
	/* Main colour has suffix -4, lower integers indicate lighter shades, higher integers darker shades */
	/* All variations are included below for completeness and available for later iterations of the website, but not necessarily used */
	/* Colours with opacity < 1 denoted by suffix -a or -b */

	/* Orange */
	--color-orange-1: #f5ddd2;
	--color-orange-1-a: #f5ddd2DD; 
	--color-orange-2: #eabaa5; 
	--color-orange-2-b: #ebbaa6d9; 
	--color-orange-3: #e09878;  	
	--color-orange-3-a: #e09878DD; 
	--color-orange-4: #bd582c; 	/* main colour */
	--color-orange-4-a: #bd582cdd; 
	--color-orange-4-b: #bd582cbb;
	--color-orange-5: #8e4221; 
	--color-orange-6: #5f2c16;
	
	/* Coffee */
	--color-coffee-1: #ebdcd5;
	--color-coffee-2: #D7B8AB; 	
	--color-coffee-3: #C29580;
	--color-coffee-4: #865640;
	--color-coffee-4-a: #865640da; 
	--color-coffee-5: #644030;
	--color-coffee-6: rgb(67, 43, 32); 	/* main font-color */
	--color-coffee-6-a: #432b20cc; 

	/* Green */
	--color-green-1: #E0E4DB;
	--color-green-1-a: #E0E4DBCC;
	--color-green-2: #C1CAB6;
	--color-green-2-a: #C1CAB6CC;
	--color-green-3: #A2AF92; 
	--color-green-4: #637052; 
	--color-green-4-a: #637052cc;
	--color-green-5: #4A543E;
	--color-green-6: #313829;

	/* Brown */
	--color-brown-1: #ECE6DD;
	--color-brown-2: #D8CEBA;
	--color-brown-3: #C5B598;
	--color-brown-4: #9B8357;
	--color-brown-5: #746241;
	--color-brown-6: #4E422C;

	/* Mango */
	--color-mango-1: #FBE6CE;
	--color-mango-1-a: #FBE6CEF0;
	--color-mango-2: #F7CE9D;
	--color-mango-2-a: #F7CE9DF0;
	--color-mango-3: #F3B56C;
	--color-mango-3-a: #F3B56CF0;
	--color-mango-4: #E48312;
	--color-mango-5: #AB620E;
	--color-mango-6: #724209;


}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; /* Ensures that when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

html {
    font-size: 16px; /* Ensure 1rem is equal to 16px */
}


body {
	/* Font family and colour */
	font-family: var(--primary-font), sans-serif;
	color: var(--color-coffee-6);
}

a {
	text-decoration: none;
	color: var(--color-coffee-6);
	cursor: pointer;
}

h2, .h2 {
	font-family: var(--secondary-font), sans-serif;
	font-weight: 700;
}

h3, .h3 {
	font-family: var(--secondary-font), sans-serif;
	font-weight: 600;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 400;
}

/* Visibility */
.invisible {
	display: none;
}

/* Buttons */
.btn {
	cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Custom font classes */

/* For text on background images */
.font-white {
	color: white;
}

/* Partnershps contents list bullets */
.font-orange-4 {
	color: var(--color-orange-4);
}

/* Parnerships differentiators list icons */
/* This needs to be before the background colours in this file to work */
.icon-container {
	height: calc(3rem + .7vw);
    width: calc(3rem + .7vw);
    margin-right: 15px; /* Space between the icon and text */
	border: 2px solid;
    border-radius: 5px;
	text-align: center; /* Optional: Align content horizontally */
    vertical-align: middle; /* Optional: Align content vertically */
    display: flex; /* To manage child alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* background colours */

/* Used in footer */
.background-orange-2 {
	background-color: var(--color-orange-2);
}

/* Cover text hero image background */
.background-orange-4-a {
background-color: var(--color-orange-4-a);
}

/* Stuck at home cover text background */
.background-green-4-a {
	background-color: var(--color-green-4-a);
}

/* Differentiators list item backgrounds */

.background-green-2 {
	background-color: var(--color-green-2);
}

.background-brown-2 {
	background-color: var(--color-brown-2);
}

.background-coffee-2 {
	background-color: var(--color-coffee-2);
}	

/* Border colours */

/* Differentiators list icon borders */

.border-orange-3 {
	border-color: var(--color-orange-3);
}

.border-brown-3 {
	border-color: var(--color-brown-3);
}

.border-green-3 {
	border-color: var(--color-green-3);
}

.border-coffee-3 {
	border-color: var(--color-coffee-3);
}

/* Constrain width of content  */

.width-300 {
	width: 300px;
}

.max-width-700 {
	max-width: 700px;
}

/* Custom buttons */

.button-orange, .button-orange-light {
	border-radius: 5px;
	display: flex;
	align-items: center; 
    justify-content: center;
    padding: 10px 20px;
}

.button-orange {
	background-color: var(--color-orange-4-a);
	color: white;
}

.button-orange-light {
	background-color: var(--color-orange-2);
	color: black;
	border: 1px solid var(--color-orange-4);
}

.button-orange:hover {
	background-color: var(--color-mango-3-a);
	color: black;
}

.button-orange-light:hover {
	background-color: var(--color-mango-3-a);
	color: black;
}

.button-orange:active {
	background-color: var(--color-orange-1);
	color: black;
}

.button-orange-light:active {
	background-color: var(--color-orange-1);
	color: black;
}

/* Position arrow icon on the right of the text */
.button-orange i, .button-orange-light i {
	margin-left: auto; /* Pushes the icon to the right */
	display: flex;
    align-items: center;
	padding-left: 1rem; /* adds space between icon and text */
}

.business-button {
	background-color: var(--color-orange-4-a);
	color: white;
}

.business-button:hover {
	background-color: var(--color-orange-4-b);
	color: white;
}

.button-coffee {
	background-color: var(--color-coffee-4);
	color: white;
}

.button-coffee:hover {
	background-color: var(--color-coffee-4-a);
	color: white;
}

/* Cards */
.card {
    border-color: var(--color-brown-3);
    margin-bottom: 1.5rem; /* Add vertical spacing between cards */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05); /* Outer and inner shadow for depth */
}

/* Header */

header.container {
	--bs-gutter-x: 0; /* Remove Bootstrap gutter for the header */
	padding: 0;
}

/* Navbar */

.navbar {
	min-height: 70px;
}

.navbar .logo {
	height: 40px;
	width: auto;
}

.navbar-brand {
	padding: 0;
	margin-right: 0;
}

/* Hamburger menu icon */
.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='rgba(67,43,32,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");
}

.navbar-toggler, .navbar-toggler.collapsed, .navbar-toggler[aria-expanded="true"], .navbar-toggler:focus {
	border-color: var(--color-coffee-6-a);
	color: var(--color-coffee-6-a);
}

.navbar-nav .nav-link {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	color: var(--color-coffee-6);
}

.navbar-nav .nav-link.active {
	color: var(--color-coffee-6);
	font-weight: 600;
}

.navbar-nav .nav-link:hover {
	color: var(--color-orange-4);
}

/* Hero section */

/* Both pages hero image */
.hero {
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative; /* For adding hero text relative to the hero image */
}

/* Home page hero image */
#hero-home {
	background-image: url("../images/home_hero_image.webp");
	background-position: 95% 100%;
}

/* Partnerships page hero image */
#hero-partnerships {
	background-image: url("../images/partnerships.webp");
	background-position: 100% 100%;
}

/* Cover text */

/* Container for cover text title for small screens */
.cover-title-sm {
	position: absolute;
	width: 180px;
}

/* reduce font-weight */
.cover-title-sm h2 {
	font-weight: 400;
	line-height: 1.3;
}

/* Only show cover-title-md on medium screens */
.show-md {
	display: none;
}

/* Background for cover text for sm screens */
.background-orange-linear {
	background: linear-gradient(to bottom, var(--color-orange-2), var(--color-orange-3)); /* Soft gradient background */
}

/* Partnerships page cover text */
#cover-text-call-partnership {
	/* Centre contents */
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin: 0 auto;
}

/* call-to-action buttons */

/* Container for call-to-action-buttons */
#cover-call-to-action {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem; /* Spacing between the buttons */
	margin: 0 auto; /* centers container */
}

#cover-call-to-action .btn {
    width: 100%; /* Makes both buttons full width of their container */
    max-width: 335px; /* stops buttons stretching too wide on sm*/
}

/* Partnerships - contents section */
.list-group-item {
	padding-bottom: 0.5rem;
}

/* react to mouse hover */
.list-group-item:hover {
	text-decoration: underline;	
}

/* Key Features (home) and Problems (partnerships) Section */

/* Section title underlines */
.mm-underline {
	border-bottom: 0.4rem solid;
	padding-bottom: 5px; /* Add spacing between the text and line */
	display: inline-block; /* Ensures the line doesn't stretch full-width */
	padding: 0 20px 0.5rem 20px; /* makes the line wider than the text */
}

.border-bottom-orange {
	border-bottom-color: var(--color-orange-3);
}

.border-bottom-green {
	border-bottom-color: var(--color-green-3)
}

/* Card title font */
.card-title {
	color: var(--color-orange-4);
	font-weight: 500;
	text-align: center;
}

/* Card body text */
.card-text {
	text-align: center;
}

#key-features-text {
	font-weight: 500;
	border: 0.5px solid var(--color-orange-1);
	border-radius: 10px;
	box-shadow: 5px 5px 5px var(--color-orange-1-a); /* left top  */
}

/* Home page seeking funding section */

/* Center button */
#seeking-funding .button-orange, #key-features-text .button-orange, .button-orange-light {
	display: inline-flex;  
    align-items: center;   /* Centers the text and icon vertically */
    justify-content: center; /* Centers content horizontally */
    width: auto;           /* Ensures the button width matches its content */
}

/* Partnerships: Stuck at home section */

#stuck-at-home {
	width: 100%;
	height: 1000px; /* Ensure the section is tall enough to contain the text boxes without covering the person */
	background-size: cover;
	background-repeat: no-repeat;
	position: relative; /* For adding text relative to the image */
	background-image: url("../images/wheelchair_indoors.webp");
	background-position: 39% 100%;
}

#stuck-text-1 {
	position: absolute;
	left: 0;
	width: 95%;
}

#stuck-text-2 {
	position: absolute;
	bottom: 1rem;
	right: 0;
	width: 90%;
}

/* Our solution section */

/* Mobility Mapper custom bullets */

ul.mm-bullets {
	padding-left: 0; /* Remove default padding on small screens */
}

/* Custom bullet points with wheel icon */
ul.mm-bullets > li {
    background-image: url('../images/wheel_no_background_300_x_300.png');
	background-size: var(--bs-body-font-size); /* Adjust size of the wheel image */
    background-repeat: no-repeat;
    background-position: 0 calc(var(--bs-body-font-size)/3.8); /* Adjust vertical alignment */
    padding-left: calc(1.65*var(--bs-body-font-size)); 		 /* Space for the wheel image */
	list-style-type: none;
	padding-bottom: 0.5rem;
	display: list-item; /* Retain bullets while keeping items inline */
	text-align: left; 	/* Ensure text is left-aligned */
	margin-bottom: 0.5rem; /* Add spacing between list items */
}

/* Style sub bullet points */
ul.mm-bullets > li > ul > li {
	padding-top: 0.5rem;
	list-style-type: disc;
}

/* Colour sub bullet points orange */
ul.mm-bullets li::marker {
    color: #8E4221CC;
}

/* Partnerships: Market Section */

/* Market Size */

#market-border-green {
	border: 2px solid var(--color-green-2);
	border-radius: 10px;
	height: 100%; /* Make border takes up full height of container */
    display: flex; 			/* Stack children */
    flex-direction: column; /* Stack children */
    justify-content: space-between;	/* Space out children evenly */
}

#market-size-box {
	max-width: 400px;
	/* Make the 3 rows equal height: */
	display: grid;
	grid-auto-rows: 1fr;
    align-items: center; /* Vertically centers the grid items */
    justify-content: center; /* Horizontally centers the grid items */
    height: 100%;	
}

/* Boxes with green background for statistics */
.green-box {
	padding-top: 1rem; 
	padding-bottom: 1rem;
	border: 1px solid var(--color-coffee-6);
	border-radius: 15px;
	background-color: var(--color-green-2);
}

/* Market validation */

#market-border-orange {
	border: 2px solid var(--color-orange-2);
	border-radius: 10px;
}

/* speech bubble for market validation text */
.speech-bubble {
    position: relative; /* allows the use of the ::after pseudo-element for the speech bubble tail. */
    background-color: var(--color-orange-2); /* Bubble background color */
    border-radius: 15px;
    padding: 20px;
    max-width: 400px; 
}

/* speech bubble tail - Creates the triangular tail using borders */
.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -24px; /* Position it below the bubble */
    left: 40px; /* Adjust this value to move the tail */
    border-width: 25px 20px 0; /* sets the triangle size - top, left/right, bottom */
    border-style: solid;
    border-color: var(--color-orange-2) transparent transparent transparent; /* Match bubble background color */
    display: block;
    width: 0;
}

/* Partnerships: Differentiators section */

.equal-height-rows-container {
    display: grid;
    grid-template-rows: repeat(10, 1fr); /* Creates 10 equally sized rows */
    gap: 10px; /* spacing between rows */
}

.row-item {
    display: flex;
    align-items: center; /* Vertically center content within each row */
    padding: 10px 10px 10px 10px; /* top right bottom left */
    border-radius: 5px;
}

.row-item p {
	margin: 0; /* Remove default margin */
}

/* Icons */

#wheel-icon {
	height: calc(2.2rem + .7vw);
    width: calc(2.2rem + .7vw);
    object-fit: cover;
}

/* Icon size */
#differentiators-list i {
	font-size: calc(2rem + .7vw);
}

#differentiators-list i.fa-desktop, 
#differentiators-list i.fa-map-location-dot,
#differentiators-list i.fa-database {
	font-size: calc(1.8rem + .7vw);
}

/* Icon colours */
.fa-route, .fa-mobile-screen, .fa-share-nodes {
	color: var(--color-brown-4);
}

.fa-mountain, .fa-map-location-dot {
	color: var(--color-coffee-4);
}

.fa-rotate-right, .fa-database {
	color: var(--color-green-4);
}

.fa-desktop, .fa-bus {
	color: var(--color-orange-4);
}

/* MM will also benefit section */

.who-else-box {
    display: flex;
    align-items: center;
    gap: 20px;
	min-height: 120px; /* Ensures enough space for the circle */
}

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px; /* Ensure icon is not squashed */
    width: 100px;
    height: 100px;
    border-radius: 50%;
	flex-shrink: 0; /* Prevents icon from shrinking */
}

.who-else-text {
	display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the text */
    flex: 1;
	padding-left: 1rem;
}

.who-else-text h3 {
	font-weight: bold;
}

.who-else-text p {
	margin: 0; /* Remove default margin so the text center aligns with that of the circle to its left */
}

.who-else-icon {
	font-size: calc(1.8rem + .7vw);
	color: var(--color-orange-4);
}

 /* Back to Top Button */
 #backToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background-color: var(--color-orange-4);
	color: white;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	z-index: 1000;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: opacity 0.3s ease-in-out;
}

#backToTop:hover {
	background-color: var(--color-orange-4);
}

/* Footer */

/* Business contact form  */
.form-background {
	background-color: var(--color-coffee-1);
}

#contact-message a {
	text-decoration: underline;
	color: var(--color-coffee-4);
}

#contact-message a:hover {
	color: var(--color-orange-4);
}


.form-label {
	margin-top: 1rem;
}

.form-check-label {
    margin-left: 10px;
}

#business-form-button {
	/* center */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Email sign-up modal */

.modal-header h1 {
	font-size: calc(1.2rem + .6vw);
}

.modal-button:hover {
	background-color: #C2BC80;
	color: black;
}

.modal-marker {
	height: 2rem;
	margin-right: 1rem;
}

/* Media queries

/* Extra small screen (380px and below) */
@media screen and (max-width: 380px) {

	/* Reduce navbar logo size */
	.navbar .logo {
		height: 35px
	}
	
	/* Home page cover title must be smaller to not cover the persons head */
	/* Reposition home page hero image */
	#hero-home {
		background-image: url("../images/home_hero_image.webp");
		background-position: 93% 100%;
	}

	/* Container for cover text title for small screens */
	.cover-title-sm {
		position: absolute;
		width: 140px;
	}

	#hero-partnerships .cover-title-sm h2 {
		font-size: 1.2rem;
	}

	#hero-home h2 {
		font-size: 1.2rem;
		margin: 0 0 0.15rem 0 !important; /* margin top right bottom left */
	}
}


/* For partnerships page, on stuck-at-home image: */
@media screen and (max-width: 575px) {

	/* make width 100% for very small screens otherwise text box covers the persons head */
	#stuck-text-1 {
		position: absolute;
		left: 0;
		width: 100%;
	}
}

/* Media query: small screen (576px and up) */
@media screen and (min-width: 576px) {

	/* Spread title to one line (no wrapping) */
	.cover-title-sm {
		display: inline-block;
		width: auto;
	}
}

/* Make dropdown menu appear on the right */
@media (max-width: 767px) {
    .navbar-collapse {
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0;
		padding: 0.5rem 1rem;
        background-color: var(--color-orange-2); /* Add background color if needed */
        z-index: 1;
        border-top: 1px solid #ddd; /* Optional: Adds a border */
    }
}

@media screen and (max-width: 992px) {
	.container {
		/* remove max width for smaller screens */
		max-width: none;
	}
}

@media screen and (max-width: 1200px) {

	/* constrain width on screens up to 1200 (xl) */

	.max-width-md-690 {
		max-width: 690px;
	}
}

/* Media query: tablet layout (768px and up) */
@media screen and (min-width: 768px) {

	:root {
		/* Increase font-size on md screens */
		--bs-body-font-size: 1.25rem; 
		--bs-btn-font-size: 1.25rem;
	}

	/* Increase size of p elements on md screens */
	p, .btn {
		font-size: 1.25rem;
	}

	/* Header hero section */

	/* Bring cover text up onto hero image */
	header {
		position: relative;
		display: grid;
		grid-template-rows: auto;
	}

	/* For hero background image */
	.hero {
		height: 740px;
		padding: 0;
		position: relative; /* For adding hero text relative to the hero image */
	}

	/* Reposition hero image */
	#hero-home {
		background-position: 85% 100%;
	}

	/* Switch off linear cover text background */
	.background-orange-linear {
		/* none */
		background: none
	}

	/* Cover text background */
	.background-orange-4-a-md {
		background: var(--color-orange-4-a);
	}

	.cover-text {
		border-radius: 10px;
		z-index: 10; /* Ensure it appears above the hero background */
	}

	/* Cover text and call to action buttons */
	#cover-text-call {
		/* Bring upwards into #hero image */
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 2vw;
		width: calc(60vw - 100px); /* responsive width */
		background-color: transparent;
		min-height: 600px;
		display: flex;
        flex-direction: column;
        justify-content: space-between; /* Space out children evenly */
	}

	/* Partnerships cover text */
	#cover-text-call-partnership {
		/* Bring upwards into hero image */
		/* Center in container */
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 65%;
        justify-content: space-between; /* Space out children evenly */
	}

	/* Cover title */

	.cover-title-sm {
		/* Hide for md screens */
		display: none;
	}

	.cover-title-md {
		font-weight: 600;
	}

	#home-title-md {
		/* Make font size slightly smaller to fit title on one line from 768 width */
		font-size: calc(1.3rem + .8vw);
	}

	.show-md {
		/* show  for md screens */
		display: block;
	}

	.font-white-md {
		color: white;
	}

	#cover-call-to-action .btn {
		max-width: none; /* remove max width*/
	}

	/* home page cover buttons change colour on md screens */
	.button-mango-md {
		background-color: var(--color-mango-2-a);
		color: black;
	}

	.button-mango-md:hover {
		background-color: var(--color-mango-3-a);
		color: black;
	}

	/* Partnerships page cover buttons change colour on md screens */
	.business-button {
		background-color: var(--color-green-1-a);
		color: black;
	}
	
	.business-button:hover {
		background-color: var(--color-green-2-a);
		color: black;
	}

	/* Home page cover text social media */
	.background-cream-md {
		/* Make social media cover text easier to read by adding background colour similar to image */
		background-color: #faf6ebcc; /* 80% opacity */
		display: inline-block;
	}

	/* Constrain contents section width */
	.width-md-550 {
		width: 550px;
	}

	/* Home page Key features section */

	/* Make all key features cards the same height for consistency */
	
	/* Ensure the row uses flexbox to align items */
    #key-features .row, #who-else .row {
        display: flex;
        flex-wrap: wrap; /* Ensure items wrap if necessary */
        align-items: stretch; /* Make all cards the same height */
    }
	
	/* Make the card-body just under the height of its parent so there is a vertical gap between the cards */
	#key-features .card, #who-else .card {
		display: flex;
		flex-direction: column;
		height: 96%;
	}

	#key-features .card-title, #who-else .card-title {
		/* Center the title vertically */
			display: flex;
			align-items: center; /* Vertically centers the text */
			justify-content: center; /* Horizontally centers the text */
			height: 100%; /* Make it take full height of the parent container */
	}

	#key-features .card-body, #who-else .card-body {
		flex-grow: 1; /* Make the card-body take up all available space */
	}

	/* Partnerships page stuck at home section */

	/* reduce width */
	#stuck-text-1 {
		width: 70%;
	}
	
	#stuck-text-2 {
		width: 65%;
	}
}

/* Media query: desktop layout (992px and up) */
@media screen and (min-width: 992px) {
	
	:root {
		/* Increase font-size */
		--bs-body-font-size: 1.5rem; 
		--bs-btn-font-size: 1.5rem;
	}

	.container {
		/* remove side gutter to align sides of containers with sides of cover images  */
		--bs-gutter-x: 0; /* Override Bootstrap gutter */
	}

	/* Limit width of homepage cover text container */
	#cover-text-call {
		width: 50%;
	}

	/* Partnerships contact form - Make textarea fill the container */
	.auto-expand-textarea-md {
		width: 100%;
		resize: none; /* Prevent manual resizing */
		height: 80%; /* Make it fill the container */
		box-sizing: border-box;
		padding: 10px;
	}

}

/* Media query: large desktop layout (1200px and up) */
@media screen and (min-width: 1200px) {

	/* Increase height of home hero section and therefore the background image */
	#hero-home {
		height: 900px;
	}

	/* don't let home hero grow any wider */
	#cover-text-call {
		width: 500px; 		/* don't let hero  cover text grow any wider */
		min-height: 670px;  /* make it taller */
		left: 4vw; 			/* Move it to the right a bit */
		
	}

	#home-title-md {
		/* Return to h2 size */
		font-size: 2rem;
	}

	#problem .card-title {
		font-size: 1.6rem;
	}

	#a-frame {
		padding-left: 0;
		padding-right: 0;
	}

	/* MM will aslo benefit section */
	.who-else-box-xl
	{
		height: 170px; /* Ensure both boxes are the same height */
	}

	#who-else .row {
		--bs-gutter-x: 1rem; /* Reduce Bootstrap gutter */
	}
	
	/* Decrease card title font-size as four cards in one row */
	#who-else .card-title {
		font-size: 1.3rem;
	}
}

/* Media query: extra large desktop layout (1400px and up) */
@media screen and (min-width: 1400px) {

	/* Max width of all content */
	.container {
		max-width: 1140px;
	}
}

@media screen and (min-width: 1800px) {

	/* Increase contact us top and bottom padding */
	.form-xxl-padding {
		padding-top: 5rem !important;
		padding-bottom: 5rem !important;
	}

}